{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% stylesheets '@campaignchain_operation_gotowebinar_css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}

{% include 'CampaignChainCoreBundle:Operation:field_header.html.twig' %}

<h4>Title</h4>
<p>{{ webinar.getSubject() }}</p>
<h4>Description</h4>
<p>{{ webinar.getDescription() }}</p>
<hr/>
<h4>Date and Time</h4>
<p>{{ activity|campaignchain_tpl_trigger_hook }} {{ activity.getStartDate()|date('T') }}</p>
<p><label>Webinar time zone:</label> {{ webinar.getTimeZone() }}</p>

{% include 'CampaignChainCoreBundle:Operation:field_footer.html.twig' %}

<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group" aria-label="...">
        <a href="https://global.gotowebinar.com/g2wbroker/manageWebinar.tmpl?webinar={{ webinar.getWebinarKey() }}" target="_blank" class="btn btn-default"><i class="fa fa-edit"></i> Edit in GoToWebinar</a>
        <a href="{{ webinar.getRegistrationUrl() }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link"></i> Registration Page</a>
    </div>
</div>